.chat-button {
  position: fixed;
  bottom: 1.25rem; /* 20px */
  right: 1.25rem; /* 20px */
  background-color: #64bde3;
  z-index: 1000;
  border-radius: 0.625rem; /* 10px */
  font-size: 1rem; /* 16px */
}
.chat-button button {
  font-size: 1.125rem; /* 18px */
}

.card-header {
  background-color: #64bde3 !important;
  padding: 0.625rem 0.9375rem; /* 10px 15px */
}

.draggable-header {
  cursor: move;
}

.chat-body {
  height: 22.5rem; /* 360px */
  overflow-y: auto;
}

.chat-messages {
  display: flex;
  flex-direction: column;
}

.chat-message {
  margin-bottom: 0.625rem; /* 10px */
  padding: 0.625rem; /* 10px */
  border-radius: 0.625rem; /* 10px */
  max-width: 100%;
}

.chat-message .profile-img {
  width: 3.125rem; /* 50px */
  height: 3.125rem; /* 50px */
  border-radius: 50%;
}
.chat-profile-img {
  width: 2.5rem; /* 40px */
  height: 2.5rem; /* 40px */
  border-radius: 50%;
}

.chat-message small {
  font-size: 0.75rem;
  color: #6c757d;
}

.card-footer .input-group textarea {
  resize: none;
  height: 3.75rem; /* 60px */
  border-radius: 0.625rem; /* 10px */
}

.btn {
  background-color: #64bde3;
  color: white;
  padding: 0.625rem 1.25rem; /* 10px 20px */
  border: none;
  border-radius: 0.3125rem; /* 5px */
  cursor: pointer;
}

.messaging {
  width: 18.75rem; /* 300px */
  height: 31.25rem; /* 500px */
  border-radius: 0.625rem; /* 10px */
  overflow: hidden;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1); /* 10px */
  position: fixed;
  bottom: 4.375rem; /* 70px */
  right: 1.25rem; /* 20px */
  display: none;
}

.header {
  background-color: #64bde3;
  color: white;
  padding: 0.625rem; /* 10px */
}

.header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons span {
  margin-left: 0.625rem; /* 10px */
  cursor: pointer;
}

.page-inboxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.625rem; /* 10px */
}

.search input {
  width: 100%;
  padding: 0.3125rem; /* 5px */
  margin-top: 0.625rem; /* 10px */
  border-radius: 0.3125rem; /* 5px */
  border: 1px solid #ccc;
}

.messages {
  height: 21.875rem; /* 350px */
  width: 18.75rem; /* 300px */
  overflow-y: auto;
  padding: 0.9375rem 0.3125rem; /* 15px 5px */
  background-color: #f9f9f9;
}

.message {
  display: flex;
  align-items: center;
}

.message img {
  width: 3.125rem; /* 50px */
  height: 3.125rem; /* 50px */
  border-radius: 50%;
  margin-right: 0.625rem; /* 10px */
}

.message-content h4 {
  margin: 0;
  font-size: 1rem; /* 16px */
}

.message-content p {
  margin: 0.3125rem 0; /* 5px 0 */
  font-size: 0.875rem; /* 14px */
  color: #555;
}

.date {
  font-size: 0.75rem; /* 12px */
  color: #999;
}

.search-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.search-wrapper .search-icon {
  position: absolute;
  left: 0.625rem; /* 10px */
  color: #aaa;
  font-size: 1.25rem; /* 20px */
  margin-top: 0.625rem; /* 10px */
}

.search-wrapper input {
  width: 100%;
  padding: 0.3125rem 0.3125rem 0.3125rem 2.375rem; /* 5px 5px 5px 38px */
  border: 1px solid #ccc;
  border-radius: 0.25rem; /* 4px */
  font-size: 1.125rem; /* 18px */
  box-sizing: border-box;
  font-size: 1.125rem; /* 18px */
}

.icons {
  font-size: 1.875rem; /* 30px */
  margin-left: 1.25rem; /* 20px */
  color: rgb(57, 55, 55);
}

.heading {
  font-size: 1.25rem; /* 20px */
  margin-right: 1.25rem; /* 20px */
  color: rgb(57, 55, 55);
  font-weight: 500;
}

.heading-name {
  font-size: 1.0625rem; /* 17px */
  margin-right: 1.25rem; /* 20px */
  color: rgb(57, 55, 55);
  font-weight: 500;
}

.fa-comments {
  font-size: 1.25rem; /* 20px */
  margin-right: 0.625rem; /* 10px */
}

.close {
  background: #64bde3;
  border: none;
  font-size: 1.125rem; /* 18px */
}

.chat-window-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cust-button {
  background-color: #64bde3;
  padding: 0.3125rem; /* 5px */
  font-size: 0.9375rem; /* 15px */
  border: none;
  width: 5rem; /* 80px */
  border-radius: 1.25rem; /* 20px */
}
